@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 57% 98%;
    --foreground: 220 12% 58%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 220 15% 95%;
    --card: 0 0% 100%;
    --card-foreground: 223 7% 13%;
    --popover: 0 0% 99%;
    --popover-foreground: 247 11% 14%;
    --primary: 218 57% 98%;
    --primary-foreground: 219 12% 58%;
    --secondary: 219 48% 94%;
    --secondary-foreground: 223 48% 94%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 225 6% 13%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 247 11% 14%;
    --border: 240 5.9% 90%;
    --input: 220 15% 95%;
    --ring: 247 11% 14%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 7% 10%;
    --foreground: 220 6% 10%;
    --sidebar: 214 7% 16%;
    --sidebar-foreground: 218 5% 26%;
    --card: 214 7% 16%;
    --card-foreground: 0 0% 100%;
    --popover: 247 11% 14%;
    --popover-foreground: 0 0% 99%;
    --primary: 228 7% 14%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 179 5% 5%;
    --secondary-foreground: 220 6% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 7% 94%;
    --accent-foreground: 218 7% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 99%;
    --border: 240 3.7% 15.9%;
    --input: 218 5% 26%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
